<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="./script.js" defer></script>
    <title>{% block title %}{% endblock %} - Jarrod Schilling</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Jarrod Schilling</h1>
        <p>"What screws us up the most in life is the picture in our heads of what it’s supposed to be."</p>
        <div class="nav-links">
            <a href="#">Home</a><span>|</span>
            <a href="#">Resume</a><span>|</span>
            <a href="#">Projects</a>
        </div>
    </div>
    <main>{% block main %}{% endblock %}</main>

</body>
</html>