* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* --------------------------------------------------
NAV-BAR
-------------------------------------------------- */
.nav-bar, .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar {
    background-color: #1D263B;
    color: #E0CBA8;
    padding-left: 7%;
}

.quotes {
    text-align: center;
}

.nav-links {
    padding-right: 7%;
}

.nav-links a {
    margin: 10px;
    text-decoration: none;
    color: #E0CBA8;
    font-size: 20px;
}

/* --------------------------------------------------
Body - INDEX
-------------------------------------------------- */
body {
    background-color: #e0cba8a3;
}

.body-container {
    display: flex;
    flex-direction: column;
    margin: 15px 5%;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 3px solid #7D4600;
    border-radius: 20px;
    background-color: #3956a6d4;
    margin-top: 20px;
    height: 300px;
    text-align: center;
}

h2 {
    font-size: 28px;
    border-bottom: 1px solid black;
}

.btn {
    background-color: #7D4600;
    /* margin-bottom: 20px; */
    border: 2px solid #1D263B;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    font-weight: bold;
}

.btn-link {
    width: 120px;
    height: 30px;
}

/* --------------------------------------------------
Body - RESUME
-------------------------------------------------- */

.resume {
    color:#1D263B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
    
}

.resume ul {
    list-style: none;
}

.resume h1, h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.resume h1 {
    font-size: 40px;
}

.resume li {
    margin: 3px;
}
.tech-skills {
    display: flex;
}